<.header>
  Listing Jobs
  <:actions>
    <.link patch={~p"/admin/jobs/new"}>
      <.button>New Job</.button>
    </.link>
  </:actions>
</.header>

<div>
  <%= for career_group <- @career_groups do %>
      <div class="bg-white rounded mb-4 p-2 lg:p-4">
        <%= for career_field <- career_group.career_fields do %>
          <div id={career_field.name_en} class="career_field">
            <h3 class={"border-l-4 px-2 border-#{career_field.name_en}-dark"}><%= career_field.name_ja %></h3>
            <%= for rank <- Ecto.Enum.values(Job, :rank) do %>
              <.rank_jobs
                rank_list={%{entry: "入門", basic: "基本", advanced: "応用", expert: "高度"}}
                career_field={career_field}
                rank={rank}
                jobs={@jobs}
              />
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
</div>

<.modal :if={@live_action in [:new, :edit]} id="job-modal" show on_cancel={JS.patch(~p"/admin/jobs")}>
  <.live_component
    module={BrightWeb.Admin.JobLive.FormComponent}
    id={@job.id || :new}
    title={@page_title}
    action={@live_action}
    job={@job}
    patch={~p"/admin/jobs"}
  />
</.modal>
