<.root_layout page_title={assigns[:page_title]} csrf_token={get_csrf_token()}>
  <body class="bg-background font-notosans">
    <main class="flex h-screen items-center justify-center p-10 w-screen" role="main">
      <section class="bg-white -mt-10 max-w-[800px] p-10 rounded-lg w-full">
        <%= @inner_content %>
      </section>
    </main>
  </body>
</.root_layout>
