<.root_layout page_title={assigns[:page_title]} csrf_token={get_csrf_token()} user_id={get_user_id(assigns)}>
  <body class="bg-white font-notosans">
    <.google_tag_manager_noscript />
    <div class="flex lg:h-screen lg:p-10">
      <main class="bg-white lg:-mt-10 lg:p-10 rounded-lg w-full">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</.root_layout>
