<.root_layout page_title={assigns[:page_title]} csrf_token={get_csrf_token()} user_id={get_user_id(assigns)}>
  <body class="max-w-[1920px]">
    <.google_tag_manager_noscript />
    <div class="flex">
      <main class="bg-background flex flex-col flex-1 items-center justify-center">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</.root_layout>
