<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Bright" %>
    </.live_title>
    <link
     href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
     rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="w-[1920px]">
    <div class="flex">
      <aside class="flex bg-brightGray-900 min-h-screen flex-col w-[200px] pt-6 pl-3">
        <img src="./images/common/logo.svg" width="163px" />
        <ul class="grid gap-y-10 pl-5 pt-6">
          <li>
            <a class="!text-white text-base" href="/mypage">マイページ</a>
          </li>
          <li>
            <a class="!text-white text-base" href="/mypage">キャリアパス</a>
          </li>
          <li>
            <a class="!text-white text-base" href="/mypage">スキルアップ</a>
          </li>
          <li>
            <a class="!text-white text-base" href="/mypage">チームスキル分析</a>
          </li>
        </ul>
      </aside>
      <%= @inner_content %>
    </div>
  </body>
</html>
