<div :if={@skill_panel}>
  <h2 class="text-3xl">成長パネル ／ <%= @skill_panel.name %></h2>
  <h3 class="text-xl">クラス：<%= @skill_class.name %></h3>

  <div class="my-10">
    <p>グラフがでる画面</p>
    <div>
      <nav>仮リンク</nav>
      <.link navigate={~p"/panels/#{@skill_panel}/skills?class=1"}>
        スキルパネル
      </.link>
    </div>
  </div>
</div>
