@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-panel-outline {
  outline: 1px solid #97acac;
  outline-offset: 1;
}
.bg-google {
  background: url("./images/bg_google.png") no_repeat 10px center;
}
.bg-github {
  background: #0d1117 url("./images/bgGithub.png") no_repeat 10px center;
}
.bg-facebook {
  background: #1877f2 url("./images/bgFacebook.png") no_repeat 10px center;
}
.bg-twitter {
  background: #1da1f2 url("./images/bgTwitter.png") no_repeat 10px center;
}
.bg-jem {
  background-image: url("./images/bg_jem_title.png");
}
.bg-h-3 {
  background-size: auto 12px;
}
.bg-h-35 {
  background-size: auto 14px;
}
.bg-h-4 {
  background-size: auto 16px;
}
.bg-h-5 {
  background-size: auto 20px;
}
.border-github {
  border-color: #0d111e;
}
.border-facebook {
  border-color: #1877f2;
}
.border-twitter {
  border-color: #1da1f2;
}
.bg-google {
  background: url("./images/bg_google.png") no-repeat 10px center;
}
.bg-github {
  background: #0d1117 url("./images/bgGithub.png") no-repeat 10px center;
}
.bg-facebook {
  background: #1877f2 url("./images/bgFacebook.png") no-repeat 10px center;
}
.bg-twitter {
  background: #1da1f2 url("./images/bgTwitter.png") no-repeat 10px center;
}

@layer base {
  body {
    @apply text-sm tracking-tight;
  }
  h1 {
    @apply text-5xl font-bold tracking-tight self-center;
  }
  h2 {
    @apply text-4xl font-bold tracking-tight self-center;
  }
  h3 {
    @apply text-2xl font-bold tracking-tight self-center;
  }
  h4 {
    @apply text-xl font-bold tracking-tight self-center;
  }
  h5 {
    @apply text-lg font-bold tracking-tight self-center;
  }
  .skill-table td {
    @apply w-[130px];
  }
  .skill-table th {
    @apply w-[130px];
  }
  td {
    @apply px-2 py-2 text-sm text-left;
  }
  th {
    @apply px-2 py-2 text-sm text-left;
  }
  .skill-panel-table td {
    @apply border-r border-b border-brightGray-200 h-10 box-border;
  }
  .skill-panel-table th {
    @apply border-r border-b border-brightGray-200 h-10 box-border;
  }
  .button-toggle-active {
    @apply bg-brightGray-900 text-white rounded-full;
  }
}
